<html>
<head>
<title>People Going to The Weeknd</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
</HEAD>
<BODY>
     <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header nav-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <!--<span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            -->
            <img class="down-arrow" src="/images/down-arrow.png"></img>
          </button>
          <a href="/find-event"> <img class="nav-logo" src="/images/logo.png"></img></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right"  id="dropdown" >
                {{#if me}}
                <li>
                  <a href="/matches"><i class="fa fa-camera-retro color"></i>&nbsp; Notifications </a>
                </li>
                <li>
                  <a href="/user/{{me}}"><i class="fa fa-camera-retro nav-element"></i>&nbsp; Profile</a>
                </li>
                <li>
                  <a href="/settings"><i class="fa fa-gears nav-element"></i>&nbsp; Settings</a>
                </li>
                <li>
                  <a href="/logout"><i class=""></i>&nbsp; Logout</a>
                </li>
                {{else}}
                <li>
                  <a href="/frontPage"><i class=""></i>&nbsp; Login</a>
                </li>
                {{/if}}
              </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <!--
    <div class="chat-header">
      <div class="chat-profile-name"> Jed Tan </div>
    </div>
    -->
    <div class="chat-container">
      {{#each messages}}
      {{#if sent}}
      <div class="message-from-name"> ME </div>
      <div class="message-from">
        <div class="line-from"></div>
        {{message}}
      </div>
      {{else}}
      <div class="message-to-name"> THEM </div> 
      <div class="message-to">
        <div class="line-to"></div>
        {{message}}
      </div>
      {{/if}}
      {{/each}}

      <!--<div class="message-from-name"> JED </div>
      <div class="message-from">
        <div class="line-from"></div>
        Are you interested in going? I'm planning to buy tickets soon! Wanna do it through this app?
      </div>

      <div class="message-to-name"> ME </div> 
      <div class="message-to">
        <div class="line-to"></div>
        Sure! Which special are you interested in?
      </div>
      <div class="message-from-name"> JED </div>
      <div class="message-from">

        <div class="line-from"></div>
        Probably the special that is the cheapest.
      </div>-->

    </div>  
    <div class="input-group">
    <textarea class="form-control custom-control" rows="3" style="resize:none"></textarea> <span class="input-group-addon btn btn-primary">
                                                    
Send
   
    </span>
</div>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/javascripts/chat.js"></script>
</BODY>
</HTML>



