<!DOCTYPE html> 


<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">

<head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<html> 
    <body> 
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Company</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right"  id="dropdown" >
                <li>
                  <a href="/matches" target="_blank"><i class="fa fa-camera-retro"></i>&nbsp; My Matches</a>
                </li>
                <li>
                  <a href="/user/{{me}}" target="_blank"><i class="fa fa-camera-retro"></i>&nbsp; My Profile</a>
                </li>
                <li>
                  <a href="/settings" target="_blank"><i class="fa fa-gears"></i>&nbsp; Settings</a>
                </li>
                <li>
                  <a href="logout.html" target="_blank"><i class="fa fa-power-off"></i>&nbsp; Logout</a>
                </li>
              </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <div class="header"> 
        <div class="tab-indicator-a"></div>
        <div class="events-tab" id="active">Events</div>
        <a href="/find-people">
            <div class="people-tab">People</div>
        </a>
        <div class="search">
            <input type="text" class="search-input" placeholder="Find events near you...">
        </div>
    </div>

        <div class="header-margin-search"></div> 
             {{#each events}}
            <a href="/event/{{id}}">
                <div class="event"> 
                    <div class="event-footing"></div>
                    <div class="event-date">{{date}}</div>
                    <div class="event-time">{{time}}</div>
                    <h3 class="event-title"> {{name}} </h3>
                    <div class="event-location">{{location}} </div>
                    <img src="/{{image}}" class="event-bg-image"></img>
                </div>  
            </a>
            {{/each}}




        </div>
    </body>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</html>




