<html>
<head>
<title>{{user.name}}'s Profile</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no">
</HEAD>
<BODY BGCOLOR="FFFFFF">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Company</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right"  id="dropdown" >
                <li>
                  <a href="/" target="_blank"><i class="fa fa-camera-retro"></i>&nbsp; My Matches</a>
                </li>
                <li>
                  <a href="/user/{{me}}" target="_blank"><i class="fa fa-camera-retro"></i>&nbsp; My Profile</a>
                </li>
                <li>
                  <a href="/settings" target="_blank"><i class="fa fa-gears"></i>&nbsp; Settings</a>
                </li>
                <li>
                  <a href="logout.html" target="_blank"><i class="fa fa-power-off"></i>&nbsp; Logout</a>
                </li>
              </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <div class="profile-container">
      <img class="user-profile-pic img-circle" src="/{{user.imageURL}}"> 
      <H2>{{user.name}}, {{user.age}}</H2>
      <div class="person-location"> {{user.location}} </div>
      <div class="person-location"><button type="button" class="btn btn-default invite-button"> Tap
</button></div>

    </div>
    <div class="artist-container">
      <div class="artist-title">Favorite Artists</div>
      <div class="favorite-artist-pic" id="faa"></div>
      <div class="favorite-artist-pic" id="fab"></div>
      <div class="favorite-artist-pic" id="fac"></div>
      <div class="fav-desc" id="fda">Rakim</div>
      <div class="fav-desc" id="fdb">Wale</div>
      <div class="fav-desc" id="fdc">Jon Pardi</div>
    </div>
    
    <div class="attending-container">
       <div class="artist-title"> Attending </div>
      {{#each events}}
      <div class="event-going">
        <a href="/event/{{id}}">
        <div class="event-going-artist">{{name}}</div>
        <div class="event-going-date">{{date}} {{time:}}</div>
      </a>
      </div>
      {{/each}}
    </div> 
    

</div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/javascripts/profile.js"></script>
</BODY>
</HTML>



